<section id="header ">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top sticky">
    <div class="container-fluid">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="#e6b30e"
        class="bi bi-house"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
        />
        <path
          fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
        />
        <!-- SVG path code -->
      </svg>
      <div class="navbar-brand theme-text">&nbsp;Drawing Canvas</div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Nav links -->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec2">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Showcase Masterpiece</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Hall Of Fame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec4">Contact Us</a>
          </li>
          <% if (locals.user) { %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="<%= locals.user.profileImage %>"
                  alt=""
                  width="30px"
                />
                <%= locals.user.fullName.toUpperCase() %> 
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" style="text-decoration: none;" href="/user/signout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          <% } else { %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user/signup">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signin">Signin</a>
            </li>
          </ul>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</section>

<style>
  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999999;
    backdrop-filter: blur(300px);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .activ {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
  }

  :root {
    --main-color: #ffc400;
  }

  .act,
  .navbar ul li a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
  }
  .theme-text {
    color: var(--main-color) !important;
    font-weight: bold;
  }

  svg.wave {
    position: absolute;
    bottom: -70px;
  }
  .middle {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80vh;
    width: 70%;
  }
  .middle h1 {
    font-size: 70px;
  }
  .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
</style>

<script>
  const activePage = window.location.href;
  const navLinks = document.querySelectorAll("nav a").forEach((link) => {
    if (link.href === activePage) {
      link.classList.add("activ");
      // console.log(link.href);
    }
  });
</script>
